<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.microg.dgtest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="microG DroidGuard Helper">

        <service
            android:name="org.microg.gms.droidguard.RemoteDroidGuardService"
            android:permission="android.permission.INTERNET"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>
